<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Questions')}"></div>
<div th:replace="~{common :: navbar(game=false)}"></div>
<body>
<div class="container">
    <h3>Order editor</h3>
    <br>
    <div class="py-5 text-center">
        <div class="col-5 mx-auto">
            <form th:action="@{/transaction/order/post}" class="needs-validation" method="post">
                <select name="symbol">
                    <option th:each="symbol : ${T(com.company.crypto.enums.Symbols).values()}"
                            th:value="${symbol}" th:text="${symbol.getValue()}"></option>
                </select>
                <p></p>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="amount"
                           name="amount"/>
                </div>
                <p></p>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                <p></p>
            </form>
            <p></p>
            <h4><small th:text="${price}"></small></h4>
            <p></p>
            <h4><small th:text="${available}"></small></h4>
            <p></p>
            <h4><small th:text="${currentAsset}"></small></h4>
            <p></p>
        </div>
    </div>

</div>
</body>
</html>