<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Questions')}"></div>
<div th:replace="~{common :: navbar(game=false)}"></div>
<body>
<div class="container">
    <div class="py-5 text-center">
        <div class="col-5 mx-auto">
            <a th:href="@{/transaction/stop/BTCUSDT}" class="btn btn-primary">
                <span>Stop loss</span>
            </a>
            <p></p>
            <form th:action="@{/transaction/order/BTCUSDT}" class="needs-validation" method="get">
                <select name="symbol">
                    <option th:each="symbol : ${T(com.company.crypto.enums.Symbols).values()}"
                            th:value="${symbol}" th:text="${symbol.getValue()}"></option>
                </select>
                <p></p>
                <button type="submit" class="btn btn-lg btn-primary btn-block">CHANGE</button>
                <p></p>
            </form>
            <form th:action="@{/transaction/order/submit/{symbol}(symbol = ${symbol})}" class="needs-validation" method="post">
                <p></p>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="USDT" step="0.00001"
                           name="usdt"/>
                    <p></p>
                    <input type="number" class="form-control" placeholder="Amount" step="0.00001"
                           name="amount"/>
                </div>
                <p></p>
                <label for="buy">BUY</label>
                <input id="buy" type="radio" name="order" value="buy"
                                                checked="checked"/>
                <label for="sell">SELL</label>
                <input id="sell" type="radio" name="order" value="sell"/>
                <p></p>
                <button type="submit" class="btn btn-lg btn-primary btn-block">SUBMIT</button>
                <p></p>
            </form>
            <p></p>
            <h5>Symbol = <small th:text="${orderInfo.getSymbol()}"></small></h5>
            <p></p>
            <h5>Price = <small th:text="${orderInfo.getPrice()}"></small></h5>
            <p></p>
            <h5>Available USDT = <small th:text="${orderInfo.getAvailableUsdt()}"></small></h5>
            <p></p>
            <h5>Current asset amount = <small th:text="${orderInfo.getAmount()}"></small></h5>
            <p></p>
        </div>
    </div>

</div>
</body>
</html>