<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Prices')}"></div>
<div th:replace="~{common :: navbar(game=false)}"></div>
<body>
<div class="container">
    <h3>Prices</h3>
    <br>
    <div class="d-flex flex-row my-3 mx-3">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <form method="post" action="/">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Test</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Symbol</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="qv,iter : ${prices}">
            <td th:text="${iter.index} + 1"></td>
            <td th:text="${qv.getSymbol()}"></td>
            <td th:text="${qv.getPrice()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>