<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Profile')}"></div>
<div th:replace="~{common :: navbar(game=false)}"></div>
<body>
<div class="bg-light">
    <div class="container bg-light">
        <h3><small th:text="${username}"></small></h3>
    </div>
    <div class="container bg-light">
        <h3><small>Amount of money:</small> <small th:text="${userMoney}"></small></h3>
    </div>

    <div class="container bg-light">
    <form class="form-inline" method="post">
        <input type="number" name="usdt" placeholder="0" min="100" class="form-control">
        <br>
        <button type="submit" class="btn btn-primary">add usdt</button>
    </form>
    </div>


    <div class="container bg-light">
        <h3><small>Portfolio sum:</small> <small th:text="${portfolioSummary}"></small></h3>
    </div>
    <div class="container bg-light">
        <h3><small>All assets sum:</small> <small th:text="${allAssets}"></small></h3>
    </div>

    <div class="container text-left">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Symbol</th>
            <th scope="col">Amount</th>
            <th scope="col">Sum</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currency,iter : ${portfolio}">
            <td th:text="${iter.index} + 1"></td>
            <td th:text="${currency.getSymbol()}"></td>
            <td th:text="${currency.getAmount()}"></td>
            <td th:text="${currency.getSum()}"></td>
        </tr>
        </tbody>
    </table>
    </div>



</div>
</body>
<div th:replace="~{common :: js-lb}"></div>
</html>