<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Profile')}"></div>
<div th:replace="~{common :: navbar(game=false)}"></div>
<body>
<div class="bg-light">
    <div class="container bg-light">
        <h3><small th:text="${user.getUsername()}"></small></h3>
    </div>
    <div class="container bg-light">
        <h3><small>Wallet = </small> <small th:text="${user.getTotal()}"></small></h3>
    </div>
    <div class="container bg-light">
        <h3><small>USDT = </small> <small th:text="${user.getUsdt()}"></small></h3>
    </div>
    <div class="container bg-light">
    <form class="form-inline" method="post">
        <input type="number" name="usdt" placeholder="0" class="form-control">
        <button type="submit" class="btn btn-primary">add usdt</button>
    </form>
    </div>
    <div class="container bg-light">
        <h3><small>Assets = </small> <small th:text="${user.getAssetsTotal()}"></small></h3>
    </div>
    <div class="container text-left">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Symbol</th>
            <th scope="col">Amount</th>
            <th scope="col">Sum</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currency,iter : ${user.getAssets()}">
            <td th:text="${iter.index} + 1"></td>
            <td th:text="${currency.getSymbol()}"></td>
            <td th:text="${currency.getAmount()}"></td>
            <td th:text="${currency.getSum()}"></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
<div th:replace="~{common :: js-lb}"></div>
</html>