<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Questions')}"></div>
<div th:replace="~{common :: navbar(game=false)}"></div>
<body>
<div class="container">
    <p></p>
    <a th:href="@{/transaction/list}" class="btn btn-primary">
        <span>My transactions</span>
    </a>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Rate</th>
            <th scope="col">Username</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="qv,iter : ${users}">
            <td th:text="${qv.getRate()}"></td>
            <td th:text="${qv.getUsername()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>